<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head></head>
<body>

<h1> Following are the titles of given websites: </h1>


<ul>
    {{#each titles}}
        <li>{{this}}</li>
    {{/each}}
</ul>
</body>
</html>